
    <!-- info -->
    <div id=explainer>

        <h2> This is what you've got </h2>
        <p>
            The total value of an economy's domestic output of goods and services, also known as GDP.
        </p>
        <p>
            One of the key indicators of economic growth. The other is GNP (gross national product), which is the same as GDP except that it adds what a country earns from overseas investments and subtracts what foreigners earn in a country and send back home.  Nominal GDP or GNP is calculated at market prices.
        </p>

    </div>

    <!--<div id=optional>-->
        <!--<h2>Optional Transforms</h2>-->

         <!--rebase -->


    <!--</div>-->

    <div id=export>
        <h2>Export</h2>
        <div data-o-grid-colspan="one-quarter">
            <button class="o-buttons o-buttons--standout o-buttons--big" data-o-grid-colspan="full-width" type="submit" id="submit-nightingale">Nightingale</button>
        </div>
        <div data-o-grid-colspan="one-quarter">
            <button class="o-buttons o-buttons--standout o-buttons--big" data-o-grid-colspan="full-width" id="submit-csv">CSV</button>
        </div>
        <div data-o-grid-colspan="one-quarter">
            <button class="o-buttons o-buttons--standout o-buttons--big" data-o-grid-colspan="full-width" id="submit-bookmark">Bookmark</button>
        </div>
        <div data-o-grid-colspan="one-quarter">
            <button class="o-buttons o-buttons--standout o-buttons--big" data-o-grid-colspan="full-width" id="submit-pipeline">Pipeline</button>
        </div>
    </div>