<h2>Chart Types</h2>
<div class="chart-types">
        <h3>Economics</h3>
        <ul>
        <li class="clearfix chart-type">
            <a data-o-grid-colspan="full-width" class="o-buttons o-buttons--big" href="#type__gdp" data-value="gdp">GDP</a>
        </li>
        <li class="clearfix chart-type">
            <a data-o-grid-colspan="full-width" class="o-buttons o-buttons--big" href="#type__cpi" data-value="cpi">CPI</a>
        </li>
        <li class="clearfix chart-type">
            <a data-o-grid-colspan="full-width" class="o-buttons o-buttons--big" href="#type__average-wages" data-value="average-wages">Average Wages</a>
        </li>
        <li class="clearfix chart-type">
            <a data-o-grid-colspan="full-width" class="o-buttons o-buttons--big" href="#type__unemployment" data-value="unemployment">Unemployment</a>
        </li>
        </ul>
        <h3>Markets</h3>
    <ul>
        <li class="clearfix chart-type">
            <a data-o-grid-colspan="full-width" class="o-buttons o-buttons--big" href="#type__bonds" data-value="bonds">Bonds</a>
        </li>
        <li class="clearfix chart-type">
            <a data-o-grid-colspan="full-width" class="o-buttons o-buttons--big" href="#type__equities" data-value="equities">Equities</a>
        </li>
    </ul>

        <h3>Social</h3>
    <ul>
        <li class="clearfix chart-type">
            <a data-o-grid-colspan="full-width" class="o-buttons o-buttons--big" href="#type__world-bank" data-value="world-bank">World Bank</a>
        </li>
    </ul>
</div>