<!DOCTYPE html>
<!--To put correct ie classes on document root to essentially enable css conditionals-->
<!--[if IE 7]>         <html class="lt-ie10 lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html class="lt-ie10 lt-ie9" > <![endif]-->
<!--[if IE 9]>         <html class="lt-ie10" > <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" > <!--<![endif]-->
<!--end css conditionals-->
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Frayifier</title>

    <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-fonts@^1.7.0,o-grid@^3.1.5,o-forms@^1.0.1,o-buttons@2.0.3" />
    <link rel="stylesheet" href="styles/frayifier.css"/>
</head>
<body>
<h1>The Fray<em>ifier</em></h1>
<div class="o-grid-row">
    <div data-o-grid-colspan="one-third">
        <div class="demo-cell">
            {{> _includes/chart-types.html }}
        </div>
    </div>
    <div data-o-grid-colspan="two-thirds">
        <div class="demo-cell">
            <form method="get" action="http://nightingale.ft.com" name="gdp-form">
                {{> _includes/data.html }}
                <div id="type__gdp" class="type__options">
                    <h2>Chart Options</h2>
                    {{> _includes/gdp-options.html }}
                    {{> _includes/chart-options.html }}
                </div>
            </form>
            <form method="get" action="http://nightingale.ft.com" name="cpi-form">
                {{> _includes/data.html }}
                <div id="type__cpi" class="type__options">
                    <h2>Chart Options</h2>
                    {{> _includes/cpi-options.html }}
                    {{> _includes/chart-options.html }}
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="scripts/frayifier.js"></script>